table, th, td  {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
tr:nth-child(even) {
     background-color: #ccc;
}
th.name {
    width: 200px;
}